# การใช้ Common Table Expression (CTE)

In [2]:
select * from sales

: Execution failed due to an unexpected error:
	Another query is currently executing.

In [5]:
SELECT branch,date_part('month',dt)::int "month", sum(revenue) total
    from sales
    where date_part('year',dt) = 2018
    GROUP BY branch, date_part('month',dt)
    ORDER BY branch,"month"

branch,month,total
bangkok,1,20728
bangkok,2,15822
bangkok,3,17184
bangkok,4,21011
bangkok,5,18634
bangkok,6,14029
bangkok,7,17666
bangkok,8,16647
bangkok,9,17154
bangkok,10,19355
bangkok,11,17175
bangkok,12,17984
phuket,1,14800
phuket,2,13807
phuket,3,13293
phuket,4,12962
phuket,5,14311
phuket,6,12837
phuket,7,12723
phuket,8,14400
phuket,9,13060
phuket,10,14421
phuket,11,14596
phuket,12,12546

In [6]:
with  cte as (
    SELECT branch,date_part('month',dt)::int "month", sum(revenue) total
    from sales
    where date_part('year',dt) = 2018
    GROUP BY branch, date_part('month',dt)
    ORDER BY branch,"month"
)
select * from cte

branch,month,total
bangkok,1,20728
bangkok,2,15822
bangkok,3,17184
bangkok,4,21011
bangkok,5,18634
bangkok,6,14029
bangkok,7,17666
bangkok,8,16647
bangkok,9,17154
bangkok,10,19355
bangkok,11,17175
bangkok,12,17984
phuket,1,14800
phuket,2,13807
phuket,3,13293
phuket,4,12962
phuket,5,14311
phuket,6,12837
phuket,7,12723
phuket,8,14400
phuket,9,13060
phuket,10,14421
phuket,11,14596
phuket,12,12546

In [5]:
   SELECT 
    branch,date_part('year',dt)::int "year",
    date_part('month',dt)::int "month", sum(revenue) total
    from sales
    where date_part('year',dt) = 2018
    GROUP BY branch, date_part('year',dt),date_part('month',dt)
    ORDER BY branch,"year","month"

branch,year,month,total
bangkok,2018,1,20728
bangkok,2018,2,15822
bangkok,2018,3,17184
bangkok,2018,4,21011
bangkok,2018,5,18634
bangkok,2018,6,14029
bangkok,2018,7,17666
bangkok,2018,8,16647
bangkok,2018,9,17154
bangkok,2018,10,19355
bangkok,2018,11,17175
bangkok,2018,12,17984
phuket,2018,1,14800
phuket,2018,2,13807
phuket,2018,3,13293
phuket,2018,4,12962
phuket,2018,5,14311
phuket,2018,6,12837
phuket,2018,7,12723
phuket,2018,8,14400
phuket,2018,9,13060
phuket,2018,10,14421
phuket,2018,11,14596
phuket,2018,12,12546

In [9]:
with  cte as (
    SELECT branch,date_part('month',dt)::int "month", sum(revenue) total
    from sales
    where date_part('year',dt) = 2018
    GROUP BY branch, date_part('month',dt)
    ORDER BY branch,"month"
),
b as (
    SELECT * from cte where branch = 'bangkok'
),
p as (
    SELECT * from cte where branch = 'phuket'
)
select b.month,b.total "Bangkok",p.total "Phuket",b.total - p.total "Bkk-Phuket"
 from  b inner join  p using (month)

month,Bangkok,Phuket,Bkk-Phuket
1,20728,14800,5928
2,15822,13807,2015
3,17184,13293,3891
4,21011,12962,8049
5,18634,14311,4323
6,14029,12837,1192
7,17666,12723,4943
8,16647,14400,2247
9,17154,13060,4094
10,19355,14421,4934
11,17175,14596,2579
12,17984,12546,5438