# การประยุกต์ใช้ CROSS JOIN ในการจัดการแข่งขันแบบพบกันหมด (round-robin tournament)

In [2]:
drop TABLE if exists team;

create table team (
    name text,
    rank int
);

In [3]:
INSERT INTO team VALUES 
    ('tiger',4),
    ('lion',1),
    ('eagle',2),
    ('rbino',3)

In [4]:
SELECT * from team

name,rank
tiger,4
lion,1
eagle,2
rbino,3

In [5]:
select a.name,b.name from team a cross join team b

name,name
tiger,tiger
tiger,lion
tiger,eagle
tiger,rbino
lion,tiger
lion,lion
lion,eagle
lion,rbino
eagle,tiger
eagle,lion
eagle,eagle
eagle,rbino
rbino,tiger
rbino,lion
rbino,eagle
rbino,rbino

In [6]:
select a.name,b.name from team a cross join team b
    where a.name != b.name

name,name
tiger,lion
tiger,eagle
tiger,rbino
lion,tiger
lion,eagle
lion,rbino
eagle,tiger
eagle,lion
eagle,rbino
rbino,tiger
rbino,lion
rbino,eagle

In [7]:
select a.name,b.name from team a cross join team b
    where a.name < b.name

name,name
lion,tiger
lion,rbino
eagle,tiger
eagle,lion
eagle,rbino
rbino,tiger

# cross join แบบสั้น

In [1]:
select a.name,b.name from team a , team b
    where a.name < b.name

name,name
lion,tiger
lion,rbino
eagle,tiger
eagle,lion
eagle,rbino
rbino,tiger

In [2]:
select concat(a.name,' (', a.rank,') '),
        concat(b.name,' (', b.rank,') ')
    from team a cross join team b
    where a.name < b.name

concat,concat
lion (1),tiger (4)
lion (1),rbino (3)
eagle (2),tiger (4)
eagle (2),lion (1)
eagle (2),rbino (3)
rbino (3),tiger (4)