# จัดการกับคอลัมน์ตัวเลขที่มีค่า NULL

In [1]:
select * from student_score

id,quiz1,quiz2,quiz3
1,6,13,20
2,7,21,24
3,21,15,NULL
4,NULL,6,NULL
5,15,NULL,16
6,16,NULL,NULL
7,23,11,19
8,5,25,NULL
9,17,15,12
10,10,9,NULL

# แสดงการบวกค่ากับ NUll ไม่ได้

In [2]:
select *,quiz1 + quiz2 + quiz3 as total 
from student_score

id,quiz1,quiz2,quiz3,total
1,6,13,20,39
2,7,21,24,52
3,21,15,NULL,NULL
4,NULL,6,NULL,NULL
5,15,NULL,16,NULL
6,16,NULL,NULL,NULL
7,23,11,19,53
8,5,25,NULL,NULL
9,17,15,12,44
10,10,9,NULL,NULL

# ใช้ Coalesce จะเอาตัวแรกที่ไม่ใช่ NULL ออกมา

In [3]:
select coalesce(1,2,3),coalesce(null,2,3)

coalesce,coalesce
1,2

In [4]:
select * , coalesce(quiz1,0) + coalesce(quiz2,0) + coalesce(quiz3,0) as total 
from student_score

id,quiz1,quiz2,quiz3,total
1,6,13,20,39
2,7,21,24,52
3,21,15,NULL,36
4,NULL,6,NULL,6
5,15,NULL,16,31
6,16,NULL,NULL,16
7,23,11,19,53
8,5,25,NULL,30
9,17,15,12,44
10,10,9,NULL,19

# sum ไม่สนใจ null สามารถหาค่าผลรวมได้

In [5]:
select sum(quiz1),sum(quiz2),sum(quiz3) 
from student_score

sum,sum,sum
120,115,91

In [8]:
select sum(quiz1),sum(quiz2),sum(quiz3),
sum(COALESCE(quiz1,0) + COALESCE(quiz2,0)  + COALESCE(quiz3,0)) total
from student_score

sum,sum,sum,total
120,115,91,326

# การสร้างตารางที่มี ผลรวม มี 2 วิธี

In [13]:
select id,sum(quiz1) quiz1 ,sum(quiz2) quiz2 ,sum(quiz3) quiz3,
sum(COALESCE(quiz1,0) + COALESCE(quiz2,0)  + COALESCE(quiz3,0)) total
from student_score
GROUP BY grouping sets ((id), ())
ORDER BY id

id,quiz1,quiz2,quiz3,total
1,6,13,20,39
2,7,21,24,52
3,21,15,NULL,36
4,NULL,6,NULL,6
5,15,NULL,16,31
6,16,NULL,NULL,16
7,23,11,19,53
8,5,25,NULL,30
9,17,15,12,44
10,10,9,NULL,19
NULL,120,115,91,326

In [16]:
select id,sum(quiz1) quiz1 ,sum(quiz2) quiz2 ,sum(quiz3) quiz3,
sum(COALESCE(quiz1,0) + COALESCE(quiz2,0)  + COALESCE(quiz3,0)) total
from student_score
group by id
UNION
select null,sum(quiz1) quiz1 ,sum(quiz2) quiz2 ,sum(quiz3) quiz3,
sum(COALESCE(quiz1,0) + COALESCE(quiz2,0)  + COALESCE(quiz3,0)) total
from student_score
ORDER BY id

id,quiz1,quiz2,quiz3,total
1,6,13,20,39
2,7,21,24,52
3,21,15,NULL,36
4,NULL,6,NULL,6
5,15,NULL,16,31
6,16,NULL,NULL,16
7,23,11,19,53
8,5,25,NULL,30
9,17,15,12,44
10,10,9,NULL,19
NULL,120,115,91,326